<div>
    <h2>Maps</h2>
    <div id="container">
        <div class="map-container">
            <h3>Adam's Route</h3>
            <iframe 
                class="map"
                width="100%"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/directions?key={{ api_key }}&origin=5411+Rowling+Pl,+Richmond,+BC&destination=8430+Fraser+St,+Vancouver,+BC&avoid=tolls">
            </iframe>
            
        </div>
        <div class="map-container">
            <h3>Lea's Route</h3>
            <iframe 
                class="map"
                width="100%"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/directions?key={{ api_key }}&origin=5411+Rowling+Pl,+Richmond,+BC&destination=8888+University+Dr+W,+Burnaby,+BC&avoid=tolls">
            </iframe>
        </div>
    </div>
</div>